/* header */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* header drawer card */
.header-hamburger {
    width: 32px;
    display: block;
}

.header-hamburger-bar {
    height: 2px;
    width: 100%;
    background: #ccc;
    display: block;
    border-radius: 2px;
  
    & + & {
      margin-top: 6px;
    }
  }